.demo-video {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 30px 60px rgba(black, 0.4);
  background-color: $colorDeepBlack;

  &__ratio {
    position: relative;
    width: 100%;
    height: 0;
    border-radius: 9px;
    overflow: hidden;
  }

  &__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
  }
}