.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $colorWhite;
  color: $colorBlack;
  border-radius: 12px;
  font-weight: 700;
  margin-left: 1rem;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  box-shadow:
    0 0 0 3px rgba($colorBlack, 0),
    0px 6px 20px rgba($colorBlack, 0.1),
  ;
  transition: box-shadow 0.2s $ease;
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    box-shadow:
      0 0 0 3px $colorBlack,
      0 0 0 0 rgba($colorBlack, 0),
    ;
  }
}