.split {
  &__media {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      width: 53%;
    }
  
    &__media {
      width: 35%;
      margin: 0;
    }

    &.is-flipped {
      flex-direction: row-reverse;
    }
  }
}