.feature-item {

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 1.75rem;
    border-radius: 6px;
    box-shadow: 0px 15px 30px rgba($colorDeepBlack, 0.5);
  }

  &__title {
    flex: 1 1 auto;
    margin: 0;
    font-size: 1.6rem;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    color: $colorRed;
    margin-bottom: 1rem;
  }

}