.buy-button {
  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem;
  }

  &__meta {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    opacity: 0.7;
    margin-top: 1rem;
  }
}