.app-section {
  position: relative;
  z-index: 1;

  &__background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: clip-path 0.5s $ease;
  }

  $root: &;

  &--black {
    color: rgba($colorWhite, 0.5);

    #{$root}__background {
      background-color: $colorBlack;
    }
  }

  &--deep-black {
    color: rgba($colorWhite, 0.5);

    #{$root}__background {
      background-color: $colorDeepBlack;
    }
  }

  &--red {
    color: $colorBlack;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $colorBlack;
    }

    #{$root}__background {
      background-color: $colorRed;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    padding: 4rem 1.5rem;
    max-width: 70rem;
    margin: 0 auto;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }

    @media screen and (min-width: 700px) {
      padding: 8rem 3rem;
    }

    &.is-overlapping {
      @media screen and (min-width: 700px) {
        margin-top: -10rem;
      }
    }
  }

  &.is-narrow &__inner {
    max-width: 55rem;
  }

  main > &:first-child &__inner {
    padding-top: 8rem;

    @media screen and (min-width: 700px) {
      padding-top: 14rem;
    }
  }

  *:not(main) > &:first-child &__inner,
  &--black + &--black &__inner,
  &--red + &--red &__inner,
  &--deep-black + &--deep-black &__inner {
    padding-top: 0;
  }
}