*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: $colorRed;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  // scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $colorBlack;
  color: rgba($colorWhite, 0.5);
  line-height: 1.5;
  font-feature-settings: 'cv05' 1;
  font-size: 1.35rem;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  margin: 1rem 0;
}

small,
.small {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.large {
  font-size: 1.8rem;
}

.huge {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.05;
}

a {
  color: inherit;
  transition: color 0.2s $ease, background-color 0.2s $ease;
}

h1,
.is-h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0;

  @media screen and (min-width: 700px) {
    font-size: 4rem;
  }
}

h2,
.is-h2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 1rem 0;

  @media screen and (min-width: 700px) {
    font-size: 2.8rem;
  }
}

h3,
.is-h3 {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0.5rem 0;

  @media screen and (min-width: 700px) {
    font-size: 1.3rem;
  }
}

h4,
.is-h4 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5rem 0;
}

h5,
.is-h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5rem 0;
}

h1,
.is-h1,
h2,
.is-h2,
h3,
.is-h3,
h4,
.is-h4,
h5,
.is-h5 {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

::placeholder {
  color: currentColor;
  opacity: 0.3;
}

button:not([disabled]) {
  cursor: pointer;
}

.red {
  color: $colorRed;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rounded-image {
  border-radius: 19px;
  width: 100%;
  height: auto;
}

@import 'node_modules/gridilydidily/gridilydidily.scss';

.grid__item:empty {
  display: none;
}
