.app-footer {
  
  &__section {
    padding: 2rem 0;
  }

  ul li a,
  &__apps a {
    text-decoration: none;
    &:hover {
      color: $colorWhite;
    }
  }

  ul {
    list-style: none;

    li {
      margin: 0.4rem 0;
    }
  }
}